.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}
.mess {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.mess-initial {
  color: #2020a0;
  background-color: #e0e0ff;
}
.mess-danger {
  color: #a02020;
  background-color: #ffe0e0e0;
}
.mess-success {
  color: #20a020;
  background-color: #eeffe0;
}
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
/* loading animation */
.loader {
  border: 6px solid #f3f3f3; /* Light grey */
  border-top: 6px solid #20a020; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 12px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* loading text */
.loading p {
  font: 100 2em/70% Impact;
}
.loading-text:after {
  content: " .";
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: black;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 black, 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  80%,
  100% {
    text-shadow: 0.25em 0 0 black, 0.5em 0 0 black;
  }
}
