.checkout {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  background-color: white;
  height: max-content;
}
.checkout__left {
  flex-wrap: wrap;
  flex-grow: 0.4;
}
.checkout__ad {
  width: 100%;
  max-height: 110px;
  margin-bottom: 10px;
}
.checkout__title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: oblique;
  font-weight: 700;
  color: crimson;
}

@media screen and (max-width: 620px) {
  .checkout {
    display: grid;
    justify-content: center;
  }
}
