.filter-box {
  width: 300px;
  border: 0px;
}
.filter_menu {
  width: fit-content;
  min-height: 40px;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-bottom: 1px solid crimson;
  margin: 15px 0;
}

@media screen and (max-width: 1000px) {
  .filter-box {
    width: 0px;
  }
  .filter_menu {
    background: grey;
  }
}

.filter_menu .Row {
  display: flex;
  justify-content: space-between;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 20px;
}

.search-page .load_more {
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.search-page .load_more button {
  padding: 10px 25px;
  margin-left: 10px;
  margin-right: 10px;
  border: none;
  border: 1px solid #ffc107 !important;
  border-radius: 5%;
  text-transform: capitalize !important;
}
