.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.top {
  align-items: flex-start;
  margin-right: 1rem;
  /* height: 100vh; */
  margin-bottom: 1rem;
}
.col-1 {
  flex: 1 1 25rem;
}

.row.top li {
  margin-top: 1rem;
}
.row.top ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.row.top img {
  border-radius: 0.5rem;
}
.row.top img:hover {
  border: 1px #ffc107 solid;
}
.row.top img.small {
  max-width: 5rem;
  width: 100%;
}
.row.top.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
}
.kutu {
  padding-top: 1rem !important;
  padding-left: 2rem !important;
  border: 1px #ffc107 solid;
  background-color: whitesmoke;
}
.order-col {
  padding-left: 2rem;
}
.order-subtotal {
  margin-top: 1rem;
  padding-left: 2rem;
}
.row.top.card-body > * {
  padding-top: 1rem;
  margin-bottom: 0.5rem;
}
.order-title {
  font-style: italic;
  color: #2020a0;
  font-size: large;
}
.order-price {
  font-style: italic;
  color: #20a020;
  font-size: large;
}
.order-golpo {
  font-style: italic;
  color: #a02020;
  font-size: large;
}
/* @media screen and (max-width: 620px) {
  .order-col {
    align-items: center !important;
  }
} */
.order-but {
  display: flex;
  justify-content: center;
}

.order-but button {
  width: 150px;
  height: 48px;
  border: none;
  outline: none;
  border-radius: 48px;
  cursor: pointer;
  background-color: #ffc107;
  color: #343a40;
  text-transform: uppercase;
  font-weight: 530;
  margin: 10px 0;
  transition: 0.5s;
}

.order-but button:hover {
  background-color: #007bff;
  color: #fff;
}
@media (max-width: 870px) {
  .order-but button {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }
  .order-id {
    font-size: large;
  }
}
.order-but #rzp-button1 {
  flex-grow: 1;
}
