/* sliding arrows */

.slick-arrow {
  background-color: #343a40 !important;
  height: 35px !important;
  width: 35px !important;
  border-radius: 100px;
}
.slick-prev {
  z-index: 1;
}
.slick-arrow:hover,
.slick-arrow:active {
  background-color: #ffc107 !important;
}
.slick-slide {
  margin: 0 13px;
}
/* the parent */
.slick-list {
  margin: 0 -13px;
}

@media screen and (max-width: 980px) {
  .slick-slider .product {
    width: fit-content;
    height: fit-content;
  }
}
