* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  padding: 0 16 px;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
}

/* Header items */
.profile {
  margin-right: 40px;
  color: white;
}
.cart {
  margin-right: 40px;
  color: white;
}
.basketCount {
  margin-right: 10px;
  margin-left: 10px;
  color: #ffc107;
}

/* 1st carrousel */
.box1 {
  background-color: blue;
  height: 300px;
  margin-bottom: 10px;
}

/* cards */
.home__row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}
.home__container {
  width: 90%;
  margin: 35px auto;
}
/* media queries */
@media screen and (max-width: 1000px) {
  .product {
    width: 40%;
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (max-width: 620px) {
  .home__container {
    width: 100%;
  }
  .product {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
.product {
  margin-top: 10px;
  margin-bottom: 10px;
  transition: 0.3s;
}
.product:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}
.product_rating {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-body {
  padding: 0px 5px 5px 5px;
}
.card-title {
  margin-bottom: 0px;
}
.card-text {
  margin-bottom: 0.3rem;
}
.product_rating p {
  margin-bottom: 0.3rem;
}
.card-buy {
  margin-right: 5px;
  background-color: #ffc107;
  color: black;
  border: 1px solid;
  border-radius: 5px;
}
.card-add {
  margin-left: 5px;
  background-color: #ffc107;
  color: black;
  border: 1px solid;
  border-radius: 5px;
}

/* sliding arrows */
.slick-arrow {
  background-color: #343a40 !important;
  height: 35px !important;
  width: 35px !important;
  border-radius: 100px;
}
.slick-arrow:hover,
.slick-arrow:active {
  background-color: #ffc107 !important;
}

/* footer */
.bottom-container {
  background-color: #19d3da;
  padding: 50px 0 20px;
  text-align: center;
  margin-top: 60px;
}
.footer-link {
  margin: 10px 20px;
  text-decoration: none;
}
.footer-link:hover {
  color: #eaf6f6;
}
.copyright {
  color: #eaf6f6;
  padding: 20px 0;
}
